<br>
<h2>Companies</h2>
<%=link_to("New", new_company_path) %>
<hr>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Contact Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @companies.each do |c| %>
    <tr>
      <td><%= c.id  %></td>
      <td><%= link_to(c.name, company_path(c.id) ) %></td>
      <td><%= c.contact %></td>
      <td><%= c.contact_number %></td>
      <td><%=link_to("edit", edit_company_path(c.id)) %> <%=link_to("delete", company_path(c.id), method: "DELETE", data: {confirm: "Are you sure?"}) %></td>
    </tr>
<% end %>
  </tbody>
</table>
