<!DOCTYPE html>
<html>
  <head>
    <title>AdminSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">AdminSystem</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

  <!-- SUPER buttons -->
        <% if current_user && current_user.super? %>
          <li class="nav-item">
            <%=link_to("Companies", companies_path,  class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%=link_to("Clients", "#",  class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%=link_to("Projects", "#",  class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%=link_to("Workers", "#",  class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%=link_to("Assistance", "#",  class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%=link_to("Payrol", "#",  class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%=link_to("Vacations", "#",  class: "nav-link") %>
          </li>
        <% end %>
  <!-- end SUPER buttons -->

  <!-- Session buttons -->
        <% if current_user %>
          <li class="nav-item">
            <%=link_to("Logout", destroy_user_session_path, method: "delete",  class: "nav-link btn btn-outline-danger") %>
          </li>
        <% else %>
          <li class="nav-item">
            <%=link_to("Login", new_user_session_path , class: "nav-link btn btn-outline-success") %>
          </li>
        <% end %>
  <!-- end session buttons -->
        </ul>
      </div>
    </nav>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
